[2015-07-16 18:10] mischasworld opened #1 "Cannot get super user access"
Hello,

Thanks for your great tool, this really fills the gap between a safe encrypted and a everyday easy to use device.

Unfortunately I can't change the encryption password on my maguro galaxy nexus device.
When I try to change my encryption password I get the message cannot get super access
For  a short time the root access symbol lights up and disappears.

Snooper Stopper is listed in the dev

[2015-07-16 21:44] xmikos commented on #1
I think the problem is in SELinux policy. SELinux policy in Android 5 is much more strict and SnooperStopper has to inject SELinux rules to allow *vdc* to communicate with it. It supports opensource _sepolicy-inject_ (and also closed source _supolicy_ - part of _SuperSU_) for this task. You can get _sepolicy-inject_ util from here: https://github.com/xmikos/setools-android

Build it with Android N

[2015-07-17 07:42] mischasworld commented on #1
Thanks for your fast reply!

I managed to change the password directly with vdc and a superuserterminal. The reboot after 3 mistypped gestures is working.

I'll try it with your new binary and leave feedback here once you uploaded it.

[2015-07-17 12:15] mischasworld commented on #1
Me Again ;-)

Just compiled my first app with Android NDK (thought this was more complicated), now it's working. Thanks a lot for your support!

[2015-07-17 12:17] #1 closed

[2015-09-10 08:25] raubwaldy opened #2 ""cannot get superuser access,exiting""
I use Cyanogenmod Version 12-20150830-NIGHTLY-tsubasa on a Xperia V. (Android 5.0.2). On CM root -access is there by default.

But whenever I hit the button "change encryption password" I get the error: "cannot get superuser access,exiting"

[2015-09-10 08:45] xmikos commented on #2
I am not sure if this is your problem (right now I don't have device with CM 12 to test it), but generally on Android 5 you need to install [sepolicy-inject](https://github.com/xmikos/setools-android) tool because of more strict SELinux policy (you can build it by yourself with Android NDK or download prebuild binaries from [GitHub](https://github.com/xmikos/setools-android/releases) or [XDA-Devel

[2015-09-10 08:56] raubwaldy commented on #2
I'm a User and got almost no Idea how thinks work on a technical level.
I'm not able to build anything by my self. I don't know how to install the binaries. - Is there any .apk file i could download from F-droid or any other safe source?

[2015-09-10 09:22] xmikos commented on #2
You can just copy `sepolicy-inject` executable from right folder in the archive (depends on your device architecture, most probably `armeabi-v7a` or if you have really old device then `armeabi`) to `/system/xbin` folder on your device. You need root for this and remount your /system partition RW (read-write) before copying.

If you have USB debugging enabled on your device, just connect it to your

[2015-09-10 09:25] xmikos commented on #2
If you are going to do this, please let me know if it worked for you. I would like to know if it is really this issue (missing sepolicy-inject) or if there is some other problem on CM 12...

[2015-09-10 15:00] raubwaldy commented on #2
Thanks for your replay, but to be honest I feel uncomfortable to copy any files in to my system. Its my working system and I would rather prefer to wait for a working release.

[2015-09-11 15:33] xmikos commented on #2
I have published new version 1.1 which includes sepolicy-inject. Could you try it?

[2015-09-11 22:58] raubwaldy commented on #2
Now I can open the "change encryption password" section. Unfortunately I have a pattern instead of a password. It looks like that the app does not support paterns for the "current password"

[2015-09-11 23:15] xmikos commented on #2
You can translate pattern to number. Enter the dots as a sequence of numbers, where 1 is top left and 9 is bottom right. Please try it and let me know if it worked. I want to add pattern input method to SnooperStopper in the future, but it will not be soon...

Btw. CM 12 doesn't have system UI for changing encryption password anymore? It has been included in CM 11. That's a shame :-(

[2015-09-17 14:55] cptMikky commented on #2
I believe this is caused by SnooperStopper **not declaring** permission

    android.permission.ACCESS_SUPERUSER

as per CM's SuperUser framework: https://plus.google.com/103583939320326217147/posts/T9xnMJEnzf1

[2015-09-17 14:59] cptMikky opened #3 "encryption password shown in plaintext"
The encryption password, when set, is then immediately shown in a pop-up as plaintext. This is a major security issue and should not be happening, at least not without the user being warned prior showing the password. A security app cannot make any assumptions about users physical environment and must expect all situations to be hostile.

[2015-09-17 15:04] xmikos commented on #3
@cptMikky This code is part of Nikolay Elenkov's [Cryptfs Password Manager](https://github.com/nelenkov/cryptfs-password-manager). But you are right, this isn't good assumption. I will change it immediately.

[2015-09-17 15:08] cptMikky commented on #3
You just earned a small and insignificant amount of reputation for reacting to security issues fast. Well done ;)

[2015-09-17 15:39] xmikos commented on #2
@cptMikky According to http://su.chainfire.eu/#updates-permission ACCESS_SUPERUSER permission  is deprecated and completely ignored in Android >= 5.0. SuperSU is closed source (and I don't like it for this reason), but it is still most widespread su framework on Android. Are you sure that su in CM is now enforcing it?

[2015-09-17 15:46] cptMikky commented on #2
CM uses it's own open source SuperUser framework, not chainfire's SuperSU. I didn't notice the deprecation for Lollipop and I have yet to find out what changes made this happen. A quick search shows deprecation only in SuperSU, not in SuperUser (but I will look into this further).

Nevertheless, at least in CM11 enforcement is on by default but can still be turned off. I had the exact same problem

[2015-09-17 16:10] xmikos commented on #3
It's fixed, I am now uploading new version to my F-Droid repository. Update in Google Play will take some time.

[2015-09-17 16:10] #3 closed

[2015-09-17 16:13] xmikos commented on #2
@cptMikky Can you please test it on CM12?

[2015-09-18 08:54] cptMikky commented on #2
I'm afraid I can't - don't have a CM12-compatible device :(

[2015-09-18 09:34] Findus23 commented on #2
I am using cm12 and the app is working with and without superSU. I have not tested the changing of the password, but the phone does reboot after wrong attempts.

[2015-09-25 15:04] revuwa opened #4 "[feature-request] device wipe after incorrect PIN/password challenge"
First of all, thanks a lot for your enthusiasm to make and provide this great app!

In business solutions, I've seen a security feature, that your data will be wiped (or simply the encryption key will be deleted), if a wrong PIN or password will be entered 4-times, for example.
I thought, this feature would be perfectly fitting as an optional feature in this awesome app, visually shown like this:

[2015-09-29 10:30] bungabunga opened #5 "[feature-request] auto-shutdown if USB connected to locked device"
I think Android lacks this security feature. Let's say you're at the customs on the airport, they want your phone unlocked to search it but you're not willing to comply. They take your phone away from you to connect it to their computer via USB to try to hack it. The moment the USB connection to the phone is made it shuts down. they go furious, you PROFIT.

I tried to automate this behaviour throu

[2015-09-29 10:56] xmikos commented on #5
Nice idea! But I am not sure if this is really needed, if you have USB debugging enabled, device should not connect with previously unpaired `adb` without authorizing its key. And you couldn't really hack device through simple MTP file transfer protocol. Or do you have some specific case in mind where this will be essential?

[2015-09-29 11:33] xmikos commented on #5
I have now tested it and if you connect your phone to PC with your screen locked, you can't see any files over MTP. Files are visible only after you unlock your screen.

[2015-09-29 11:46] bungabunga commented on #5
i know that. i've been reading about hacking PCs through USB, FireWire... to get disk encryption masterkey even when locked. i am not a dev so i realy don't know, i only thought that it's possible to hack android the same way via different exploits. you can close this issue if you think it's not the case.

PS - another silly idea! what about a feature to set a fake pin, which would immediately shu

[2015-09-29 12:35] xmikos commented on #5
Devices connected via FireWire have direct access to system memory (DMA), so they can do nearly anything (e.g. get root access, extract decryption keys from memory, etc.). But this is not the case with USB (it doesn't support DMA). There can be potentially some expoitable bugs in `adb` server (if you have USB debugging enabled) or in MTP service, but both are opensource and can be audited.

But th

[2015-09-29 12:49] xmikos commented on #4
This would be really dangerous option which can lead to unintentional data loss. And if you have strong encryption password, it isn't needed at all. Even NSA with all their resources can't break AES with strong enough key. And quantum computers doesn't affect symmetric ciphers (like AES), only asymmetric public-key algorithms (like RSA).

[2015-09-29 12:52] xmikos commented on #4
And I don't think wipe would help you against [rubber-hose cryptoanalysis](https://xkcd.com/538/), it can make things potentially even worse in that case ;-)

[2015-09-29 13:02] xmikos commented on #4
But if you really want this option, I am open to pull requests.

[2016-01-10 23:54] Szalacinski commented on #2
I can confirm that this is still an issue on CyanogenMod 13.0-20160110-NIGHTLY-shamu (Nexus 6) with version 1.2 of SnooperStopper from the F-Droid repo.
It was previously working with CM 12.1 nightlies for my phone.  When I upgraded from the 12.1 nightly to the 13.0 nightly, my phone was set to require the encryption password to boot and the pattern to unlock.  After the upgrade, my phone needed t

[2016-01-12 11:16] cptMikky opened #6 "Compatibility with 5.0+ unlock methods"
Hi, got a question: is SnooperStopper aware of changes made in 5.0 regarding boot password prompts where a pattern or a numeric PIN can be entered instead of a "password"?

I ask this as I use numeric PIN lock but want to use a stronger password for encryption. However, at boot, I am presented with a PIN pad instaead of keyboard. I tried to change the password in SnooperStopper to a numeric one di

[2016-01-12 11:33] xmikos commented on #6
Yes, it is compatible with Android 5+, but not compatible with Android 6 yet (but I will add support soon). If you use other chars than digits in your encryption password, you will be presented with full keyboard.

[2016-01-18 23:28] bungabunga opened #7 "Shutdown instead of reboot"
Would it be possible to make device shutdown instead of reboot after the wrong pattern/PIN/password attempts?

Why?

I wore my phone in my pocket when working, there was a call but I haven't answered/picked the phone from my pocket. But since I worked fisically and the display remained on for some seconds, the friction in my pocket caused a few wrong PIN "attempts" and my phone got rebooted. But t

[2016-01-22 08:08] licaon-kter commented on #1
So this is not fixable on the app side?

I'm seeing it in CM13 w/ SuperSU.

[2016-02-11 12:56] utack commented on #6
How is Android 6+ support going?
Currently the app says "Can not get root access" for me

[2016-02-16 01:39] utack commented on #6
Found [something on Reddit](https://www.reddit.com/r/cyanogenmod/comments/3znw4c/warning_default_disk_encryption_password_in_cm13/):
`vdc cryptfs changepw password default_password newpwd`
Seems to all you need to do on Cyanogenmod 13 (and also Android 6 it seems)

[2016-02-21 11:26] f4stb00t opened #8 "Compatibility CM 13"
Hi,

first I want to thank you for the great work. Your little Software works like a charm. I still don't get it, why Google does not implement this. Who wants to use a 30+ symbols/letters/digits Password everytime to unlock a phone...

But back to Topic. I tried Snooper Stopper on CM 13. Fist run it asks for root priviliges. I grant them, but that's all. I cannot change the Password.

Please be s

[2016-03-17 16:03] xmikos commented on #6
@utack I didn't have device with Android 6 so far, so I couldn't properly test it. I hope I will find some solution soon, problem seems huge:
[Decryption unsuccessful on N5 running Stock 6.0 with ElementalX 6.03 #14](https://github.com/nelenkov/cryptfs-password-manager/issues/14)

I have looked at `CryptCommandListener.cpp` in AOSP (https://android.googlesource.com/platform/system/vold/) and param

[2016-03-17 16:10] xmikos commented on #8
@f4stb00t Sorry for late reply. You are lucky that it didn't work, CM13 broke `vdc cryptfs` command horribly, see e.g. here:
[Decryption unsuccessful on N5 running Stock 6.0 with ElementalX 6.03 #14](https://github.com/nelenkov/cryptfs-password-manager/issues/14)

I am looking into solution, problem is that some people are reporting similar problems with stock Android 6, but stock AOSP didn't make

[2016-03-17 16:11] #5 closed

[2016-03-17 16:12] #4 closed

[2016-03-17 16:17] xmikos commented on #7
Wow, I didn't think something like that could happend... I hope you didn't lost any important data. I will change it in next version.

[2016-03-19 15:39] bungabunga commented on #7
actually i wouldn't belive this story if it didn't happen to me. luckily i had my phone backed up pretty well...

thanks for willingness to solve this issue.

[2016-03-21 01:05] xmikos commented on #8
@f4stb00t New version of SnooperStopper is compatible with bot stock Android 6 and CyanogenMod 13 (I have tested it on Nexus 5).

[2016-03-21 01:06] xmikos commented on #7
@bungabunga It's done, new version of SnooperStopper is doing shutdown instead of reboot.

[2016-03-21 01:06] #7 closed

[2016-03-21 01:08] xmikos commented on #6
@utack New version 1.3 supports both stock Android 6 and CyanogenMod 13 (tested on Nexus 5).

[2016-03-21 01:08] #6 closed

[2016-03-21 01:13] xmikos commented on #2
New version 1.3 supports CyanogenMod 13 (I have tested it on Nexus 5). Sorry that it took that long...

[2016-03-21 01:13] #2 closed

[2016-03-24 20:03] xenithorb commented on #8
This does not work with a OnePlus one on "stock" CM 13

Perhaps more work may be required

The warning message did display about it not working properly, and to gain a root shell to use `vdc cryptfs` before rebooting, which I did (though I adequately backed up everything anyway, so i wasn't worried)

That prompted me to follow the advice here: https://github.com/nelenkov/cryptfs-password-manager/i

[2016-03-24 20:21] xmikos commented on #8
@xenithorb SnooperStopper is now using `cryptfs changepw default|password|pin|pattern currentpasswd newpasswd` format if it detects CyanogenMod 13. Am I right that OnePlus One is not using CyanogenMod, but Cyanogen OS (that is only based on CyanogenMod)? If that is true, maybe it isn't detected by SnooperStopper as CyanogenMod. I dont't have access to OnePlus One, so unfortunately I can't debug it

[2016-03-24 20:31] xenithorb commented on #8
I assure you I'm using CM13 nightly

[code]

The version of SnooperStopper is 1.3 from F-Droid. I do not have google play, sorry.

[2016-03-24 20:36] xenithorb commented on #8
In attempting to try it again, it also thinks my current password, that I know works, is incorrect "Invalid password"

I'm going to attempt next to change the password to something simple and try again

[2016-03-24 20:40] xmikos commented on #8
@xenithorb version 1.3 from F-Droid should be OK. This is strange, it should be detected all right (on Nexus 5 it did work without problems, I can't see what is different in this case).

Can you show me output of `adb logcat` when trying to change encryption password with SnooperStopper?

[2016-03-24 20:46] xenithorb commented on #8
Ok, so a few things:
1. When I changed the password manually I did so to a 20+ character password. Works fine everywhere else but this app. SnooperStopper, seemingly because of the size of the string does not like the password, and threw "password invalid" as I stated above.
2. When I changed the password again, through `adb shell` as root, to 'test', then going back to SnooperStopper, and enterin

[2016-03-24 20:50] xenithorb commented on #8
Just to clarify since I can be wordy sometimes there appear to be two issues present:
1. Invalid password when using very long passphrases (or conflating using very long passwords from `vdc cryptfs changepw` and that is conflicting somehow)
2. PIN -> Password doesn't seem to work unless that is not expected to

[2016-03-24 20:54] xenithorb commented on #8
Hmm. Weirder result than I thought:

From `vdc cryptfs verifypw 'test'` after going from a PIN, shows `200 0 0`, where testing the original PIN fails.

Thus, it seems as though it is setting it properly but displaying the error message still. That was not something I tested for the first time

[2016-03-24 21:05] xenithorb commented on #8
For issue 1. it had to do with spaces. I first tested string length and that didn't seem to cause a problem. Once I added a space it failed.

I then confirmed by making the password literally 'a b' and it told me it was invalid inside the app (while working fine on the commandline) Quoting or word-splitting issues?

## To consolidate the issues again:
1. Spaces cause invalid password (thus basical

[2016-03-24 21:20] xmikos commented on #8
Do you have some time? I will compile debug build with small change in passing of passphrase to `vdc` and with enabled debug logging and upload it so you can try it and send me output of `adb logcat`.

[2016-03-24 21:25] xenithorb commented on #8
Sure. Do you have a list of things to grep for like App name, etc, will that be sufficient? I have various things running in the background and I'd rather not leak sensitive information since this is not a dev-only phone but my daily driver. If you're happy with just grepping that app name that makes things a lot easier

[2016-03-24 21:55] xmikos commented on #8
Ok, here it is. Please beware that it is DEBUG build and this will log your password in _logcat_! Use it only for debugging purposes.
[snooperstopper_debug.zip](https://github.com/xmikos/SnooperStopper/files/188757/snooperstopper_debug.zip)

EDIT: It is signed by different (debug) key, so you must first uninstall SnooperStopper and then install this debug build.

[2016-03-24 21:59] xmikos commented on #8
I have tried changing from PIN to password on my Android 5 phone and it worked without errors. I can't try it on Android 6 right now (I have swtiched to Copperhead OS on my Nexus 5), but I am pretty sure that I have tried it before releasing version 1.3 and it has worked (both on stock Google ROM and CyanogenMod 13). So please try to extract relevant lines from _logcat_.

[2016-03-24 22:57] xenithorb commented on #8
### Case 1: Changing the password after using `vdc cryptfs changepw`:
- Symptom: An error message is displayed that the password change did not complete successfully, but it actually does

Lines 132-133:

[code]

Line 188, 219:

[code]

Full log: http://paste.fedoraproject.org/344883/88588981

### Case 2: Changing the password from stock "PIN":
-  Symptom: When changing the password from stock PIN

[2016-03-24 23:08] CaviaPorcellus commented on #8
Just wanted to add that it's definitely not just a CM13 thing: I just got this error on a Nexus 5 using stock Android 6.0.1 (MMB29V).

Also, there were no spaces in my password. I did have some other non-alphanumeric characters in it though.

[2016-03-24 23:17] xmikos commented on #8
@xenithorb Both Case 1 and Case 2 seems to be caused by hardware encryption (QSEECOMAPI). It seems that it doesn't work as expected in CM13 on OnePlus One. I am surprised that decryption works after this (it apparently failed to upgrade key in hardware TEE / QSEE). I am afraid I can't do much about it :-( Bug must be IMHO somewhere in `vdc cryptfs` code.

Case 3 is probably because I forget to cha

[2016-03-24 23:25] xmikos commented on #8
@aibaraiduas I have tested it extensively on Nexus 5 with stock Android 6.0.1 (MMB29V) and CyanogenMod 13.0 (snapshot from 20160316) and I didn't see any problems. But it is true that I have tested only simple password without spaces or more exotic special characters. If you have any special character which can be interpreted by shell, this can really be the cause. I should add some proper escapin

[2016-03-24 23:26] xenithorb commented on #8
@xmikos is it too unreliable to rely on the output of `verifypw` for case 1 and 2? It does in fact return `200 0 0` which is what I was trying to show you. (It almost seems like your checking `verifypw` is moot?) There is in fact a case that I was still working on that does complete successfully:

### Case 4: Changing the password after changing it from within the app
- Symptom: Password changes s

[2016-03-24 23:37] xenithorb commented on #8
Ok the new build works without issue regarding spaces

What's basically left is:
- First password set after `vdc cryptfs changepw` OR system lockscreen set gives false message about failure on OnePlus One (or maybe other HW implementations?)

I had no error since when I used debug_2 I did not use the system lockscreen settings or `vdc` to change the password beforehand.

[2016-03-24 23:54] xmikos commented on #8
@xenithorb Thank you! Did you tried also to actually reboot device? Just to be sure that it didn't actually encrypted it with `'pass phrase'` (including single quotes) instead of `pass phrase`...

[2016-03-25 00:05] xmikos commented on #8
Btw. about that HW encryption problem... I remember reading somewhere (maybe it was in https://github.com/nelenkov/cryptfs-password-manager/issues/14, but I am not sure) that `cryptfs verifypw` did say OK, but despite it after reboot device couldn't be decrypted (because of HW key not being updated, or HW key API expecting key to be in hexadecimal encoding... which is what your case also looks sim

[2016-03-25 01:19] xenithorb commented on #8
Hmm yeah, you're right. I rebooted and couldn't decrypt.

Well, now that my phone is bare, I guess I'll test out some scenarios

Edit: Ok I think that's because I was being lazy about inputting the previous password on the commandline before I changed it....

Something wonky happens when you don't give it the previous password and you get `200 0 -1`

[2016-03-25 01:51] xenithorb commented on #8
Very strange behavior indeed, it's almost embarrassing for something so integral to the security and data of the system:

[code]

That doesn't even work btw, it's totally broken. I have no idea what the key is again. Wow.
Edit: Lol that's what I get for trying TWRP first. So TWRP has separate limitations too, this keeps getting better. Wow.

[2016-03-29 13:18] revuwa commented on #4
Sadly, I'm not a developer and can't provide solid pull requests in this context.
But there exist a FOSS project, which does exactly what I mean: https://github.com/Zyg0te/Locker

It would be great if you would consider to add this project to your credits and use the code from this app to add the feature I've described above.

Thanks in advance for any look into this.

[2016-04-02 11:13] f4stb00t commented on #8
Hi xmikos,

thanks for the new version. But this one does not work for my HTC m8. It tells me that I used the wrong password.  Any ideas?

[2016-04-02 11:14] f4stb00t commented on #8
Btw. Is it possible to do the whole process by hand? Like in ADB shell or something to have a temporary workaround until snooper stopper works for me?

[2016-04-02 13:54] utack commented on #6
Just tested this on a new CM13 rom, it works perfectly.
Thanks for fixing

[2016-04-16 15:47] bmenant opened #11 "How to switch unlock password to pattern?"
Your app is great! I've been struggling so much typing my not-so-long password again and again... As of today, I got a much stronger encryption passphrase and a nicer password to unlock my screen.

However, I wonder if there is a way to set up a pattern password instead of a PIN or password to unlock screen? So far, the option in the settings is disabled and marked as protected since I turned encr

[2016-04-19 14:53] takiainen commented on #8
@f4stb00t  This worked for me: (first set short pin lock screen, then encrypted via settings): vdc cryptfs changepw password [your pin without brackets] [YourNewSuperSecureLongPasswordWithoutBrackets]

[2016-05-10 19:10] rugk opened #12 "Causes battery drop after reboot"
I'm using CM13 and I have read https://github.com/xmikos/SnooperStopper/issues/8, but I have a different issue.

Because actually my device is _not_ encrypted. However the reboot option still works (as I expect it), but strange things happen when it is triggered.

Because actually my battery level drops of several percent after rebooting the device:
![snooperstopperreboot](https://cloud.githubuser

[2016-05-10 20:00] licaon-kter commented on #12
It's normal, a boot sequence consumes a lot of battery (presumably because it will use full speed).
Do try a reboot test with this app disabled, my guess is you will see the same thing.

/close as invalid

[2016-05-10 20:11] rugk commented on #12
Have you actually looked _how much_ the battery drops? (from estimating my own picture I'd say it is from 40% to 10% - in a very fast time)

I do not need to disable the app to reproduce it without the drop. I can just do a normal reboot. Only the ["force reboot"](https://github.com/xmikos/SnooperStopper/issues/13) this app does when the number of allowed guesses is exceeded seems to have these ba

[2016-05-10 20:12] rugk opened #13 "Please do a graceful/normal shutdown"
Instead of - somekind of - "unplug" the device from battery could you just do a graceful/normal shutdown?

Otherwise it not only looks like a system crash it also seems to cause issues like this: https://github.com/xmikos/SnooperStopper/issues/12

And I see no reasons for such a drastic shutdown method. During shutdown an attacker cannot unlock the device anyway...

[2016-05-28 23:22] utack opened #14 "[Feature request] Add fingerprint shutdown"
It would be really cool to have too many attempts on the fingerprint sensor count like wrong pin attempts and make it shut down.
Maybe at some point you find time for it?
Thanks

[2016-07-05 20:55] MyerSmith opened #15 "Pattern Password CM13 bigger than 3x3"
I want to use a patter and a strong (boot) password.

My question is how it generate a string password from the patter, so I can use it in SnooperStopper.
3x3 seems easy:
0 1 2
3 4 5
6 7 8
http://resources.infosecinstitute.com/android-forensics-cracking-the-pattern-lock-protection/

But bigger pattern seems to have a other scheme.

https://github.com/omnirom/android_bootable_recovery/commit/7a48a6

[2016-07-14 11:23] marzzzello opened #16 "Device asks for pattern instead of password"
I wanted a pattern lock for the lockscreen and a password for device encryption.
So I set a password as lockscreen in the settings.
In your app I changed this password to a complicated one and then I set pattern lock for the lockscreen in the settings again. (Because I can't enter a pattern in the app I choose this method)
But now I restarted my device and it asks me for a pattern. The lockscreen

[2016-07-14 19:31] hansWURSCHT10000 commented on #16
With `adb shell` and `twrp decrypt 'password'` I'm able to decrypt the userdata partition.
But if I boot normally I can't do this of course. Where is the information about the password type stored? Is there a config file or something in the system or boot partition?

[2016-07-17 13:55] utack opened #17 "Warn about using spaces"
When using a new password with spaces, it will spit out a generic error message about not being able to change the password.
Maybe you could craft a specific error message and tell the user that spaces are not allowed

[2016-08-31 19:13] capstab opened #18 "Phone not rebooting or shutting down"
Hi,

I changed my encryption passwd successfully on my Cyanogen OS 13.1.2 Thank you very much for that awesome app.

But one Problem I have. The phone neither shutsdown or reboots after putting 3 times wrong my Lockscreen PIN. SnooperStopper has root access (SuperSU) and I enabled device admin.

Don't know what is wrong.

Thx and regards Capstabs

[2016-09-01 07:45] capstab commented on #18
I don't understand. Yesterday I played abit arround with lovksceen trusted agent settings and it was working for some reasson after that. After 3 times wrong pin the phone shutdown. Today again I can try as much as possible to unlock the screen without a shutdown. Any Ideas what I must do that it works reliable?

[2016-09-01 08:26] xmikos commented on #18
@capstab Sorry, I have never seen behavior like this. SnooperStopper is simply calling `reboot -p` command with superuser permissions, this should work everywhere. Maybe CyanogenMod broke something?

Try to look at `adb logcat` after too many failed unlock attempts. You should see this line in debug log:

[code]

If you don't see it, then device admin is broken. If you see it but phone still doesn

[2016-09-01 08:31] xmikos commented on #14
I don't have phone with fingerprint scanner, so I can't test this. But fingerprint readers are generally not safe (you can spoof someones fingerprints relatively easily). You should use PIN or password instead if you really want security.

[2016-09-01 08:36] xmikos commented on #13
I can't agree with this. If there is some sort of attack, I prefer shutdown to be as quick as possible. I would rather see some battery stats issue after reboot than giving attacker more opportunity to continue with attack. There could be e.g. some exploit found in graceful shutdown code in the future (yes, it is unlikely, but like I said I prefer shutdown to be as quick as possible).

[2016-09-01 08:41] xmikos commented on #12
See my answer here: https://github.com/xmikos/SnooperStopper/issues/13#issuecomment-244013294

I can add graceful shutdown option in the future, but sadly I don't have time for it now. If you are programmer, I am open to accept push requests here on GitHub (but make it an option, not default).

[2016-09-01 13:48] rugk commented on #13
But they don't have any opportunity as nothing can be done to prevent the shutdown or to unlock the device when it is shutting down AFAIK.

[2016-09-02 07:18] capstab commented on #18
Thank you very much for your help. I have still the Problem but im not sure if you can help me with that. But just to give a feedback. I installed a new beta version of supersu but that doesn't helped either.

I activated in developer options the local terminal. Did a "su" in the terminal (on phone) to give me root permission and executed `reboot -p`. That worked so the reboot command shouldn't be

[2016-09-02 07:43] xmikos commented on #18
It looks like problem with SELinux rules. It could be caused by both CyanogenMod or SuperSU (SuperSU changes SELinux policy). But I don't know if this error is really related to your problem :-(

Anyway why are you using SuperSU on CyanogenMod? CyanogenMod should have native root access. Are you aware that SuperSU is closed source proprietary app? Using proprietary app with root privileges is **_r

[2016-09-02 07:53] capstab commented on #18
Awesome fast reply :)

At the Moment I'm using Cyanogen OS 13 (for OnePlus One) not the CyanogenMod. It doesn't  have the included root feature. Maybe I should really consider to flash CyanogenMod.
Thank you for the seSuperuser tip, closed source i really try to avoid.

I will try seSuperuser now

[2016-09-02 09:10] xmikos commented on #18
@capstab Oh, I have somehow overlooked that you are using Cyanogen OS, not CyanogenMod. I have never tested SnooperStopper on Cyanogen OS. So it is probable that some changes in Cyanogen OS are to blame. But I couldn't be sure...

[2016-09-02 09:38] capstab commented on #18
Im pretty sure its that (Cyanogen OS). I removed SuperSU, unrooted, rerooted and installed seSuperuser.
Pretty happy too be rid of SuperSU. But with SnooperStopper still exactly the same behavior.
I think I will change to cyanogenmod at the weekend.

The only thing that bothers me is that it was working like I mentioned in my first post for a while.

[2016-09-02 12:38] capstab commented on #18
Now I'm really disappointed (not by your app, I guess its cyanogenmod).

I wiped the encrypted oneplus one. After that phone is still encrypted. Installed the newest cm-13.0-20160901-NIGHTLY-bacon.zip.

Activated build-in-root in Developer Settings.
Installed "from F-Droid" SnooperStopper.
Gave SnooperStopper root permissions.
Enabled in SnooperStopper the device admin. (Its activated in Settings-

[2016-09-05 10:35] capstab commented on #18
So far I did't made any progress. One short question. Did you or someone use it with success on cm13?

[2016-09-05 11:01] xmikos commented on #18
Yes, I have tested it successfully on Nexus 5 with CyanogenMod 13.0 (snapshot from 20160316). Maybe CyanogenMod broke it since then? But I can't test it with CM again right now (don't have spare phone) :-(

[2016-09-05 12:51] capstab commented on #18
I had an old nexus 5 (hammerhead) here. Just flashed 13.0-20160316-SNAPSHOT-YNH0EAO1QC-hammerhead. Without gapps and without encryption. Just to test the reboot after 3 failed unlock attempts.

Installed SnooperStoppper. Gave root permissions (built in cm). Gave device admin (Device admin is checked in Security settings). And again. I can put endless the screen unlock PIN. No reboot. I'm already q

[2016-10-01 20:02] zeorin commented on #8
OmniRom 6.0.1 user here. @takiainen's method worked for me, too.
I was also able to use spaces in my password by surrounding it with quotes (which are not necessary to use when entering decryption password on boot).

[2016-10-13 13:38] gene-pavlovsky commented on #12
Does it happen to you every time? I'm having no such issue (running CM13-based Resurrection Remix ROM, device encryption on). If your issue is reproducible, get the logcat right after you reboot your phone. Perhaps some app you have installed (or a system app) was doing something at the moment your phone got forcefully rebooted, corrupting it's data, and making it misbehave after booting again.

[2016-10-13 13:47] gene-pavlovsky commented on #13
I wonder if using `reboot -p` has the potential of harming the phone. E.g. the file systems don't get unmounted properly (or are they)?, etc.
According to [this page](http://android.stackexchange.com/questions/73001/how-to-shutdown-android-via-ssh-command), `reboot -p` command can be changed to `am broadcast android.intent.action.ACTION_SHUTDOWN && sleep 5 && reboot -p`, notifying apps about the i

[2016-10-13 15:26] rugk commented on #13
At least it is a try, is not it?

[2016-10-13 15:56] gene-pavlovsky commented on #13
I've checked logcat and `am broadcast android.intent.action.ACTION_SHUTDOWN` alone does warn apps about the shutdown, but doesn't actually shutdown (hence the `&& sleep 5 && reboot -p`).

[2016-10-13 16:04] gene-pavlovsky commented on #13
To do a regular reboot (same as if reboot is done from the Power button menu), the command is `am start -a android.intent.action.REBOOT`. I really wonder what is the `-a` option since it's not mentioned in the am's [docs](https://developer.android.com/studio/command-line/shell.html#am) or it's built-in help. But reboot doesn't work without `-a`.

[2016-10-13 16:10] gene-pavlovsky commented on #13
I've found some info on the safety of `reboot -p` with regards to the filesystems.
Both [AOSP](https://github.com/android/platform_system_core/blob/master/libcutils/android_reboot.c) and [Cyanogenmod](https://github.com/CyanogenMod/android_system_core/blob/cm-13.0/libcutils/android_reboot.c) do `sync` and emergency remount read-only (using the same mechanism as the magic SysRq-U)  all the filesyst

[2016-10-14 10:53] gene-pavlovsky opened #19 "Misbehaves when used together with Delayed Lock app"
I've installed and set up [Delayed Lock](https://play.google.com/store/apps/details?id=de.j4velin.delayedlock2.trial&hl=en) to prevent me re-entering the PIN every time if I'm connecting to my home's Wi-Fi. This app is similar to the new Smart Lock, but supports Wi-Fi, I'm using it out of habit since Android 4 anyway. It asks for Device Admin permissions, same as SnooperStopper, then allows to spe

[2016-10-29 08:40] h-2 commented on #16
I just encountered the same thing. This was really a nasty surprise and I think it will always happen when people change their PIN/Pattern, but use passphrase as screen lock.
For me, TWRP can just decrypt the device with the passphrase, but I still can't get back into Android....

Thanks for your help and for the App in general!

[2016-10-29 08:53] h-2 commented on #16
Either of these two things would save me right now:
- being able to change the password from inside TWRP (so I can choose something numeric)
- being able to change android to show full keyboard again from inside TWRP (so I can enter the original passphrase)

Do you have any hints on this?

[2016-10-29 10:23] marzzzello commented on #16
I made a backup in TWRP then i wiped userdata and then restored the backup. But it's only a bad workaround.

[2016-12-08 08:40] killathe opened #20 "[Feature Idea] Nuke Password"
The addition your App provides to the Cryptfs Password Manager is incredible. Your App is one of the first I install on a fresh Android, it's a must have, if you use encryption.
I recently thought about how this concept could be improved even more. Maybe you are familiar with the Kali Linux LUKS Nuke feature. https://www.kali.org/tutorials/emergency-self-destruction-luks-kali/
In short it lets you

[2016-12-08 11:10] licaon-kter commented on #20
That would need a Custom ROM I guess.

[2017-01-27 09:26] quorn23 opened #21 "SnooperStopper not working properly with phh's root/superuser"
Hi Mikos,

I use SnooperStopper with my Nexus 6P, currently with Phh's Root and Superuser app.
Now i would like to change the encryption password. When i open the app i see superuser granted, but as soon as i click on "Change encryption password" -> "Cannot get superuser access, exiting"

I don't really see anything helpful in logcat, i cleared the superuser permission and once i'm getting asked t

[2017-01-27 10:00] quorn23 commented on #21
https://github.com/nelenkov/cryptfs-password-manager/issues/18

I opened a feature request with Nikolay, after i've seen that this part of the app comes from his code and his password manager causes the same behavior. Will close this issue, but would be awesome if you could update SnooperStopper if he adds support.

[2017-01-27 10:00] #21 closed, assigned to nobody

[2017-02-16 22:22] #18 closed, assigned to nobody

[2017-03-17 09:21] Sirove commented on #8
Seems like changing the password is still not working with CM13. :(
I'm wondering why Cryptfs Password Manager is working for this purpose but SnooperStopper doesn't although the "whole device encryption password changing code is taken from Nikolay Elenkov's Cryptfs Password Manager."?

[2017-03-20 15:40] natmey opened #22 ""Enable admin" option loops in Lineage OS 14.1 (Nougat) build making it impossible to enable SnooperStopper"
I'm using the version of SnooperStopper currently in the F-Droid repository on a Lineage OS 14.1 custom build (using MicroG and with Root Access enabled).

When I open Snooper Stopper and turn on  "Enable device admin" I am brought to the confirmation screen that say "Activating this administrator will allow this app…"

I then select "Activate this device administrator" and am brought back to the

[2017-04-14 09:49] utack commented on #8
`vdc cryptfs changepw password oldpin newpassword `

This is still working on LineageOs 14.1 luckily

[2017-04-21 15:49] rodrigoaguilera commented on #8
@utack Can you explain a bit more the process of having this app working on lineageos?

I'm planning to wipe my phone and install lineage soon but I want this app to work correctly.
Is this issue relevant for correct function?
https://github.com/xmikos/SnooperStopper/issues/22

What I'm looking for is some brief steps like
1- Encrypt phone
2- Set a lock pattern
3- Run the command `vdc cryptfs chan

[2017-04-21 15:59] utack commented on #8
@rodrigoaguilera did not use the app
Your steps are exactly what I did
I installed Lineage, installed the zip file they provide to root the phone, set up a pin and triggered encryption from the settings->security, used "adb shell" on my pc, typed "su" to get root in there, used the vdc command to change the pin to a long password for the encrypted data partition

[2017-04-21 17:58] rodrigoaguilera commented on #8
@utack
Thank you.

From what I read you have to run the command every time you change the lock gesture/password.

Still I find interesting  the reboot after some tries features and I hope it works just by installing the app.

[2017-06-10 13:48] thomasjfox commented on #22
works fine for me on Lineage 14.1 from 2017-06-07.
May be it has been fixed in the meantime?

[2017-06-10 13:56] thomasjfox commented on #8
before upgrading to Lineage 14.1 this month, I was using Lineage 13.x.

Changing the password was broken for a while in Lineage 13.x and then later on fixed.
It worked fine for me when "upgrading" from a PIN to a passphrase on 13.x.

Reboot after xx wrong PIN entries works on Lineage 13.x and 14.1 for me.

[2017-06-10 13:59] thomasjfox commented on #8
btw: I have a second phone for development, so I could easily switch between Lineage 13.x and 14.x to reproduce issues.

The 13.0 build is from 2017-04-22, the 14.1 build from 2017-06-07.

[2017-06-22 15:30] natmey commented on #22
I just rebuilt my version of Lineage, and this problem persists.

I reinstalled Snooper Stopper and it asked for Root again, which I give it. I then go to "Enable Device Admin," but get caught in the same loop described above.

I did notice that Privacy Guard activates when I'm doing this, so perhaps I need to give the app more permissions? @thomasjfox are there any privacy guard settings that you

[2017-06-28 13:43] snevas commented on #15
3x3 isn't usable in LineageOS 14.1 as well in string form (just tested this). They have a different approach to patterns as 'normal' android.

[2017-07-04 08:05] thomasjfox commented on #22
the privacy guard is not enabled by default on my phone,
so it might be the culprit here.

Cheers,
Thomas

[2017-07-13 10:37] eX00r commented on #8
I am experiencing the same issue in my Huawi Honor 5x (kiwi) with LineageOS-14.1-20170705-nightly-kiwi. When entering the old password in snooperstopper it says "invalid password".

Unfortunately trying to change the device encryption password with the mentioned vdc command gives me:

/system/bin/sh: vdc: not found

I typed: vdc cryptfs changepw password myoldpin newpassword

I Trier terminal emul

[2017-07-13 10:56] thomasjfox commented on #8
On Thursday, 13 July 2017 12:37:27 CEST eX00r wrote:

the vdc binary must be there somewhere.

Did you try with a root shell?

Either use "adb root" followed by "adb shell"
from your host.

Or use "su" to become root when running the command from the phone.

Cheers,
Thomas

[2017-07-13 11:14] eX00r commented on #8
@thomasjfox thanks. When running with su from phone ( su vdc cryptfs changepw password myoldpin newpassword) terminal answers with: unknown id: vdc

Will try from host later.

_Sent from my HUAWEI KIW-L21 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-13 11:17] rodrigoaguilera commented on #8
I think you are using "su" as if it was the "sudo" command.
You have to type "su" first alone to get a root shell

[2017-07-13 11:50] eX00r commented on #8
@thomasjfox thanks a lot and sorry. That worked like a charm. I have seperated the encryption password from the screenunlocking pin successfully.

_Sent from my HUAWEI KIW-L21 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-02 13:12] vsund commented on #11
I changed to password login temporary, set the disk encryption password and then switched back to a pattern. After switching back SnooperStopper opened and asked for an encryption password (with a greyed out "Current password" field.

Not sure whether the first step actually is needed, but looks like it worked fine :)

[2017-09-04 16:50] Kamul-PL opened #23 "This app has the KnownVuln Antifeature..."
Hello!
I've noticed at page:
https://f-droid.org/wiki/page/cz.eutopia.snooperstopper
an information:
This app has the KnownVuln Antifeature.
What exactly does it meant? Does SnooperStopper has some Vulnerabilities discovered?

[2017-09-04 19:18] xmikos commented on #23
Hello,

I don't know about any vulnerability and nobody from F-Droid notified me about this :-/ Maybe they are flagging all apps that use Device Admin privilege and/or need root access? I will try to ask them...

[2017-09-04 19:31] xmikos commented on #23
Looking at F-Droid wiki app page for SnooperStopper, there is also listed *DisabledAlgorithm Antifeature*, which is explained as:

But I cannot resolve this by myself, F-Droid builds and signs APKs by themselves. I have my own F-Droid repository (with APKs signed by me) at https://fdroid.eutopia.cz/

[2017-09-04 19:37] licaon-kter commented on #23
It's WIP so far, more info here: https://gitlab.com/fdroid/fdroidclient/issues/1070

[2017-09-04 20:36] Kamul-PL commented on #23
@xmikos: I supposed it could be a false positive. If you will know more, tell about the reason, please.

@licaon-kter: Could you write in a few words, what does it really mean? Should I fear about that or I should simply ignore that?

[2017-09-04 22:22] licaon-kter commented on #23
From the link:

Basically, the UI part was done since it's simpler, everything else is open to discussion there.

The MD5 part can be solved by disabling the last build, wait for a F-Droid refresh (
Ciaran Gultnieks [committing](https://gitlab.com/fdroid/fdroiddata/commits/master) `Stats, etc` and `Update known apks` ), then enable it again. I'll do that after I can confirm the app builds ok local

[2017-11-05 09:50] DJCrashdummy commented on #23
as far as i can see, this issue is solved.

[2017-11-05 10:18] DJCrashdummy commented on #13
@gene-pavlovsky thanks for all the interesting research, you did!

so what shutdown-procedure do you suggest to use? special android-commands? with sync before or not, and which command for actual shutdown?
i use [_Wrong PIN Shutdown_](https://f-droid.org/packages/org.nuntius35.wrongpinshutdown/) where the command can be modified, so i'm very interested in this. maybe have a look at the [similar d

[2017-11-05 17:16] DJCrashdummy commented on #8
while research and testing for [my comment](https://github.com/nelenkov/cryptfs-password-manager/issues/19#issuecomment-341988458) (be careful! i'm not sure if it also works for CM/LOS 13) at [Cryptfs Password](https://github.com/nelenkov/cryptfs-password-manager) i came across this issue...

i just have to point out one error at @xenithorb's https://github.com/xmikos/SnooperStopper/issues/8#issue

[2017-11-10 08:55] gene-pavlovsky commented on #13
In the end I started using Automagic for various things, and the functionality of SnooperStopper is easily replicated as an Automagic flow. I'm just using "Reboot" Automagic action (requires root).

[2017-11-10 09:39] DJCrashdummy commented on #13
well... i want to neither use non-FOSS software, nor have playstore installed! - so this is not an option for me.

if i understand this right, you are now using a predefined reboot-function of a proprietary app, where you don't even have an idea which command(s) are used...? :confused:

[2017-11-10 10:13] gene-pavlovsky commented on #13
I see and respect your point. Wish I was that strong principled on this.
Yes you understand me right.
If I was writing a reboot script myself (which is also an option with Automagic, just I'm lazy), I would do something like:
[code]
You might want to increase the sleep duration, personally I wouldn't worry too much about this stuff, considering my phone spuriously reboots all by itself for unknown

[2017-11-15 19:31] cannycartographer commented on #23
Hi, I also came here via F-droid. The wiki page as I understand it says that this is about OpenSSL:

"uses a version of OpenSSL that has known vulnerabilities
update the app to OpenSSL 1.0.2f/1.0.1r or higher. For more info, see How to address OpenSSL vulnerabilities in your apps"

Page here: https://f-droid.org/wiki/page/AntiFeature:KnownVuln

I think the issue discussed above is separate and mar

[2017-11-15 21:26] DJCrashdummy commented on #23
i assume this issue is solved, because the antifeatures-flags are gone at the f-droid client so everything is/seems fine to me...
BUT the only thing which confuses me is, that in the wiki both anti-flags are still there?!? :confused:

[2017-11-16 00:03] cannycartographer commented on #23
I've just been looking using the client and the flags are still there for
me...

[2017-11-16 00:44] licaon-kter commented on #23
Not sure why one would think this was fixed when the last build was in 2016-03 ?!

[2017-11-16 14:09] DJCrashdummy commented on #23
i wrote incidentally with an fdroid-developer about this topic and he explained, that the wiki shows all flags collected for all versions, and the client only for the latest/suggested.

the interesting part started here: https://gitlab.com/fdroid/fdroiddata/merge_requests/2658#note_47478332

@nickmdowson maybe try to clear the index by disabling all repos, and then enabling again. - i also had to

[2017-11-16 16:32] cannycartographer commented on #23
Hmm, no, that doesn't explain it - I installed F-droid yesterday!

On 16 November 2017 at 14:09, DJCrashdummy <notifications@github.com> wrote:

[2018-01-10 07:57] YourFin commented on #17
This appears to be due to using a custom written escaping mechanism in  SnooperStopper/app/src/main/java/cz/eutopia/snooperstopper/CryptfsCommands.java , and should probably be replaced by either:
 - Wrapping the passwords in single quotes, so the shell takes them literally, and then "escaping" single quotes with the slight hack of `'"'"'`
 - A real escaping library

I don't know much about java a

[2018-01-26 12:42] utack commented on #8
FWIW i now run an AOSP 8.1 rom and the old
`vdc cryptfs changepw password oldpin newpassword  `
still works for me
Even though I just had a situation where the default_password was used, it just ignored the wrong "oldpin", and set my "newpassword"

[2018-01-27 09:40] DJCrashdummy commented on #8
@utack thanks for the info.

if you read the bigger part of [this comment](https://github.com/nelenkov/cryptfs-password-manager/issues/19#issuecomment-341988458) this is absolutely clear (and nothing new), because whatever you type at `oldpin` is completely samey.

[2018-02-07 19:57] jmawhorter opened #24 "Passwords with dollar sign ($) cause unecryptable partition"
Using version 1.3 from F-Droid:

Creating a new password with a '$' character in it gives no error but then that same password is not able to decrypt the phone. I tried it with two different passwords with a '$' character. Both failed. A password without a '$' character worked fine.

This is obviously a critical bug as it makes all data unavailable.

[2018-05-16 15:34] sarevok-anchev opened #25 "Change FDE password - doesn't seem to work with Oreo"
Just changed the encryption password with vdc, rebooted, and the system correctly prompts for the newly set password.

However, from SnooperStopper, and inputting the exact same password, it claims that "The current encryption password is incorrect."

Quick glance at the code reveals this might be the problematic part:

**java/cz/eutopia/snooperstopper/CryptfsCommands.java**:
[code]

Earlier in th

[2018-06-03 15:23] tortugaverde98 opened #26 "Donations"
Thank you for snooperstopper. Please post your btc address in the readme and on the f-droid page.

[2018-06-18 14:31] MSe1969 commented on #25
Hi, I have had a look, and assuming your observation is correct, a fix would be easy. I'll do a test build (fork) and raise a pull request to this repo here hoping it will be merged, if my test is successful... Hope to find time this week... (This is not my repo, I am only interested to have this working in LineageOS 15.1 as well)

[2018-06-18 14:39] MSe1969 commented on #25
To add info: SuShell.java - IsCyanogenmod13() - the grep in LineageOS 15.1 must be "ro.lineage..." instead of "ro.cm..." so this would need to be checked in addition

[2018-06-20 18:39] MSe1969 commented on #25
I think it is worth to read through this issue: https://github.com/AndroidHardening/bugtracker/issues/451 - in short: Already with Android N, the app was in fact obsolete - in simple terms, "legacy" devices (e.g. my Osprey, which had LineageOS 13.0 on it, when I used this app and continued using it on Lineage 14.1, not knowing that all only worked, because of "legacy design" and that even newer de

[2018-06-26 05:58] 0x5ECF4ULT commented on #20
@killathe this is a VERY cool suggestion but unfortunately @licaon-kter is right... It would need a custom ROM or a patch to the built-in cryptsetup utility. If you are a developer you can create a PR. Otherwise I would create a PR

[2018-06-26 06:21] 0x5ECF4ULT opened #27 "Integration of SnooperStopper"
Dear creator of SnooperStopper!

I'm currently developing a custom ROM and I would kindly like to ask if I have your permission to integrate your app into my ROM.
Optionally I would create a PR with the patch for a nuke-password.

Greetings from Austria,
Alex

[2018-07-15 05:47] jmsecurity05 opened #28 "No root"
Good evening, there is no way to work without root? Thank you

[2018-07-26 21:16] 0x5ECF4ULT commented on #28
@jmsecurity05 nope there is no way
The "vdc" command can only be used as root. You could try to install packages like SuperSU oder Magisk via recovery

[2018-11-11 10:16] nuntius35 commented on #14
I also don't have a phone with a fingerprint reader, but there might be a bug hidden here. From reading the code, I believe that the counter of wrong passwords is not reset, if you login with a fingerprint. Assume that your setting is that the device shuts down after 3 wrong passwords. I think the follwing happens:

1. Enter a wrong password two times.
2. Unlock with fingerprint.
3. Lock phone.
4.

[2018-12-31 12:58] 0x5ECF4ULT commented on #20
Update: It wouldn't need a custom ROM. The app could make a backup of the system partition and patch the binary afterwards.
There ARE official ways to patch the binary we are talking about, but I don't know how to accomplish this on Android... Research time! xD

[2019-03-31 03:10] thestinger commented on #25
The issue at AndroidHardeningArchive/bugtracker#451 is about using the existing infrastructure for fingerprint unlock as a secondary unlock mechanism to add support for having a PIN as a secondary unlock mechanism. It might as well always use fingerprint + PIN rather than just a PIN though, especially since it actually makes it more convenient rather than less, while having advantages in terms of

[2019-05-10 17:40] nchristensen commented on #22
<s>I also have this issue in on Android 8.1.</s>

After encrypting the phone the device admin enables correctly.

[2019-05-16 07:37] nchristensen commented on #25
In Android Pie raw `vdc cryptfs` commands are no longer supported.

https://source.android.com/security/encryption/file-based
https://android.stackexchange.com/questions/212370/how-to-change-the-encryption-key-on-rooted-android-9

There is an ugly workaround however.
https://forum.xda-developers.com/general/security/guide-separate-passwords-encrypted-t3048072/page6

[2019-05-16 08:09] thestinger commented on #25
By the way, https://github.com/GrapheneOS/os_issue_tracker/issues/28 is the new issue about implementing a replacement as a proper secondary unlock mechanism for FBE.  I'd really recommend that anyone interested in this kind of feature looks into implementing it this way. It can support both FDE and FBE along with offering far better semantics. The secondary unlock mechanism has an attempt limit (

[2019-06-07 15:46] anarcat opened #30 "cannot get super user access when changing encryption passphrase"
I know there has been multiple reports of this in the past (#1, #2, #21) but this is again a problem on Android 7 (fairphone OS "saibon" 15.02). The phone is rooted and I have the root permissions ("Root access: apps only" in `Settings -> Developer options`). I get prompted to grant super user access to the app, and I do, permanently. Yet it still fails with the error:

... when I tap the "Change

[2019-06-07 16:14] anarcat commented on #22
i can't make the admin stuff work on a Fairphone 2 here either, see #30 for details.

[2019-06-07 16:25] anarcat commented on #30
I ended up using [this app](https://f-droid.org/packages/org.nuntius35.wrongpinshutdown/) with the manual encryption setup process.

[2019-07-01 09:01] adnion commented on #8
There should be a warning that android >7 is NOT supported!

What i did:
- i had no password or pin enabled
- encrypted phone using android 8.1.0
- rebooted and everything worked fine!
- installed snooper stopper and set a short password to test it (please note that i did not set a password with android)
- rebooted
- android does not ask for password
- phone is stuck in boot animation forever

As

[2019-08-09 15:55] rugk opened #31 "Does not work on LineageOS 16.0 (Android 9)"
I tried to use this on LineageOS 16.0 (Android 9, jfltexx), but it does not accept the "old password" (as a PIN, which I just enter via the keyboard) as valid. Thus I also cannot change the new password.

[2019-10-19 16:41] vbrandl commented on #31
I've got the same issue. It worked fine on LineageOS 14. Any news on this?

[2019-10-19 20:32] rugk commented on #31
This is a duplicate of https://github.com/xmikos/SnooperStopper/issues/25, likely

[2019-10-19 20:32] rugk commented on #31
Duplicate of https://github.com/xmikos/SnooperStopper/issues/25

[2020-07-28 12:42] #27 closed, assigned to nobody